.reserveroom {
    margin-top: 100px;

    .roomlMain {
        text-align: center;

        .rooml {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 70%;
            margin: auto;

            .room {
                z-index: 1;
                background-color: rgba(234, 227, 245, 0.678);
                width: 400px;
                height: fit-content;
                margin: 30px auto;
                padding: 10px 25px;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                box-shadow: 2px 2px 10px;
                flex-direction: column;

                .roomimge {

                    width: 380px;

                    img {
                        width: 370px;
                        height: 170px;
                        object-fit: contain;
                        border-radius: 4px;
                        cursor: pointer;
                    }
                }

                .details {

                    width: 60%;
                    // background-color: aquamarine;
                     text-align: start;
                     line-height: 24px;
                     margin-left: 30px;
                     margin-right: 20px;
                }

                .roombtns {
                    float: right;
                    width: 300px;
                    text-align: center;

                    button {
                        cursor: pointer;
                        background-color: rgb(0, 0, 255);
                        border: none;
                        padding: 4px 10px;
                        margin: 0 5px;
                        border-radius: 4px;
                        color: white;
                        font-size: 18px;
                        margin: 5px;

                        &:hover {
                            background-color: rgb(35, 3, 103);
                        }
                    }
                }
            }
        }
    }
}

.roomDes {}

@media screen and (max-width:650px) {
    .reserveroom {
        margin-top: 100px;

        .roomlMain {
            text-align: center;

            .rooml {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                width: 70%;
                margin: auto;

                .room {
                    z-index: 1;
                    background-color: rgba(234, 227, 245, 0.678);
                    width: 400px;
                    height: fit-content;
                    margin: 30px auto;
                    padding: 10px 25px;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 20px;
                    box-shadow: 2px 2px 10px;
                    flex-direction: column;

                    .roomimge {

                        width: 380px;

                        img {
                            width: 370px;
                            height: 170px;
                            object-fit: contain;
                            border-radius: 4px;
                            cursor: pointer;
                        }
                    }
                    .roombtns {
                        float: right;
                        width: 300px;
                        text-align: center;

                        button {
                            cursor: pointer;
                            background-color: rgb(0, 0, 255);
                            border: none;
                            padding: 4px 10px;
                            margin: 0 5px;
                            border-radius: 4px;
                            color: white;
                            font-size: 18px;
                            margin: 5px;

                            &:hover {
                                background-color: rgb(35, 3, 103);
                            }
                        }
                    }
                }
            }
        }
    }
}