.roomlMain {
    .rooml {
        .room {
            z-index: 1;
            background-color: rgba(234, 227, 245, 0.678);
            width: 65%;
            height: 200px;
            margin: 30px auto;
            padding: 10px 20px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            box-shadow: 2px 2px 10px;

            .roomimge {

                width: 380px;

                img {
                    width: 370px;
                    height: 170px;
                    object-fit: contain;
                    border-radius: 4px;
                    cursor: pointer;
                }
            }

            .details {
                line-height: 24px;
                margin-left: 30px;
            }

            .roombtns {
                float: right;
                width: 300px;
                text-align: center;

                button {
                    cursor: pointer;
                    background-color: rgb(0, 0, 255);
                    border: none;
                    padding: 4px 10px;
                    margin: 0 5px;
                    border-radius: 4px;
                    color: white;
                    font-size: 18px;
                    margin: 5px;

                     &:hover {
                        background-color: rgb(35, 3, 103);
                    }
                }
            }
        }
    }
}

.roomDes {
    font-weight: 700;
}

.allimages {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 60px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    align-items: center;
    z-index: 35;
    padding: 10px;
    overflow: scroll;

    .imagesliderDiv {
        display: flex;
        justify-content: center;
        width: 100%;
        height: fit-content;
        margin: auto;
        margin-top: 60px;
        margin-bottom: 90px;
        flex-wrap: wrap;
        padding-top: 40px;

        div {
            height: fit-content;

            img {
                width: 350px;
                height: 200px;
                margin: 10px;
            }
        }

    }

    .closebtn {
        z-index: 15;
        color: white;
        font-size: 40px;
        cursor: pointer;
        margin-bottom: 0px;
        margin-top: 30px;
    }
}

.booknow {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 60px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.914);
    text-align: center;
    align-items: center;
    color: white;
    z-index: 15;
    padding: 80px 10px;

    .closebtn {
        z-index: 15;
        color: white;
        font-size: 40px;
        cursor: pointer;
        margin: 25px;

    }
}

.errormsg {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

@media screen and (max-width:650px) {
    .roomlMain {

        .rooml {

            .room {
                flex-direction: column;
                height: fit-content;
                width: 70%;
                padding-bottom: 30px;


                .roomimge {
                    width: 100%;

                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }

                .details {
                    line-height: 24px;
                    margin-left: 40px;
                }

            }
        }
    }


    .allimages {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 60px;
        left: 0;
        background-color: rgba(0, 0, 0, 0.914);
        text-align: center;
        align-items: center;
        z-index: 35;
        padding: 10px;
        overflow: scroll;

        .imagesliderDiv {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
            margin: auto;
            margin-bottom: 90px;
            flex-wrap: wrap;
            padding-top: 40px;

            div {
                height: fit-content;

                img {
                    width: 350px;
                    height: 200px;
                    margin: 10px;
                }
            }

        }

        .closebtn {
            z-index: 15;
            color: white;
            font-size: 40px;
            cursor: pointer;
            margin-bottom: 0px;
        }
    }


}