@use "../../styles/colors" as color;

.home {
    width: 100%;
    height: 100vh;

    .homeMainDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70%;
        padding-top: 100px;
        background-color: color.$gold;

        .container {
            position: relative;
            line-height: 120px;
            text-align: center;


            .homeH1 {
                h1 {
                    font-size: 5rem;
                }
            }

            .homeP {
                p {
                    font-size: 1.6rem;
                }
            }

            .homeLinkDiv {
                .hllink {
                    text-decoration: none;
                    color: black;
                    border: 1px solid rgba(0, 0, 0, 0.511);
                    padding: 7px 20px;
                    border-radius: 10px;
                    font-size: 17px;
                    background-color: color.$cream;
                    font-weight: 500;
                    cursor: pointer;

                    &:hover {
                        background-color: rgba(122, 185, 241, 0.355);
                    }
                }
            }
        }

        .container::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 80%;
            top: 0;
            left: 100px;
            border-right: 6px solid color.$blue;
            border-radius: 14px;
            z-index: -2;


        }
    }

    .dnRoomDiv {

        .dn1 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px;

            .dn1Img {
                img {
                    width: 200px;
                    height: 200px;
                    object-fit: cover;
                    margin: 10px 20px;
                    border-radius: 10px;
                    transition: all 0.5s;

                    &:hover {
                        transform: scale(1.1);
                        cursor: pointer;
                    }
                }
            }

            .dn1H3 {
                .hlink {
                    font-size: 30px;
                    text-decoration: none;
                    font-weight: 700;
                    color: black;
                    position: relative;
                }
            }
        }

        .dn2 {
            display: flex;
            justify-content: center;
            align-items: center;

            .dn2Img {
                img {
                    width: 200px;
                    height: 200px;
                    object-fit: cover;
                    margin: 10px 20px;
                    border-radius: 10px;
                    transition: all 0.5s;

                    &:hover {
                        transform: scale(1.1);
                        cursor: pointer;
                    }
                }
            }

            .dn2H3 {
                .hlink {
                    font-size: 30px;
                    text-decoration: none;
                    font-weight: 700;
                    color: black;
                    position: relative;
                }
            }
        }

    }

}


.hlink::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1%;
    height: 100%;
    border-bottom: 4px solid color.$blue;
    transition: all 0.5s;

}

.hlink:hover::before {
    width: 100%;
}


// media query----------------------------------------
@media screen and (max-width:600px) {
    .home {
        .homeMainDiv {
            .container {
                position: relative;
                line-height: 120px;
                text-align: center;

                .homeH1 {
                    h1 {
                        font-size: 4rem;
                    }
                }

                .homeP {
                    p {
                        font-size: 1.4rem;
                    }
                }
            }

            .container::before {
                display: none;
            }
        }
    }


}