 @use "../../styles/colors" as color;

 .roomContainer {
     //background-color: red;
     width: 100%;
     height: 100vh;
     display: flex;
     align-items: center;
     flex-direction: column;
     padding-top: 100px;

     .roomMenu {
         background-color: rgb(235, 234, 232);
         width: 70%;
         height: 100px;
         border-radius: 10px;
         box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.125);
         display: flex;
         align-items: center;
         justify-content: space-evenly;
         padding-left: 10px;
        z-index: 14;
      

         .roomDate {
           

             .rDate {
                 cursor: pointer;
                 border: 1px solid rgba(56, 49, 49, 0.433);
                 display: flex;
                 align-items: center;
                 border-radius: 10px;
                 padding: 7px 10px;
                 .headerSearchText {
                     padding: 1px 10px;
                 }

                  
                   .date{
                    box-shadow: 2px 2px 10px;
                    position: absolute;
                    top: 200px;
                    left: 15%;
                    z-index: 15;
                   
                 }
             }
         }



         .selectType {
             display: flex;
             gap: 60px;
             justify-content: center;
             align-items: center;

             .selectDiv {
                 #roomtype {
                     background: transparent;
                     padding: 7px 20px;
                     border-radius: 10px;
                     cursor: pointer;

                     option {
                         line-height: 50px;
                         background-color: color.$cream;
                         cursor: pointer;
                     }
                 }

             }

             .searchBtn {
                 button {
                     padding: 7px 20px;
                     border-radius: 10px;
                     border: 1px solid rgba(0, 0, 0, 0.499);
                     background-color: color.$blue;
                     color: white;
                     cursor: pointer;

                     &:hover {
                         background-color: rgb(13, 99, 238);
                     }
                 }
             }
         }
     }

     .roomlists {
         width: 100%;
         z-index: 3;
         .rooms {
             z-index: 1;
             margin-top: 50px;
         }
     }
 }


 @media screen and (max-width:650px) {
     .roomContainer {
         .roomMenu {
             height: 160px;
             width: 90%;
             display: flex;
             flex-direction: column;
             gap: 20px;
             padding: 10px;


             .roomDate {

                 .rDate {
                     padding: 2px 35px;

                     .headerSearchText {
                         padding: 10px 10px;

                     }

                     .date {

                         position: absolute;
                         top: 229px;
                         left: 15%;

                     }
                 }
             }




         }

         /*   .roomlists {
             .rooms {}
         } */
     }
 }