 @use "../../colors" as color;
 
 .navebar {
     border-bottom: 2px solid rgba(0, 0, 0, 0.137);
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 50px;

     .searchbarDiv {

         .inputSearch {
             display: flex;
             justify-content: center;
             align-items: center;
             margin-left: 20px;
             padding: 3px;
             border: 1px solid rgba(0, 0, 0, 0.349);
             border-radius: 6px;

             .inpSea {
                 border: none;
                 outline: none;
             }

             .searchIcon {
                 color: rgba(0, 0, 0, 0.497);
                 cursor: pointer;

                 &:hover {
                     color: color.$primary;
                 }
             }
         }
     }

     .navbarmenuDiv {
         margin: 20px 30px;
         display: flex;
         gap: 20px;
         justify-content: center;
         align-items: center;


         .username{
            h3{
                text-transform: capitalize;
            }
         }
         .logoutBtn {
             button {
                 cursor: pointer;
                 background: transparent;
                 padding: 5px 20px;
                 border: 1px solid rgba(0, 34, 128, 0.355);
                 border-radius: 30px;

                 &:hover {
                     background-color: rgba(16, 33, 183, 0.19);
                 }
             }
         }

         .userImg {
             img {
                 cursor: pointer;
                 width: 25px;
                 height: 25px;
                 border-radius: 50%;
             }
         }
     }

 }