 .navebar {
     border-bottom: 2px solid rgba(0, 0, 0, 0.137);
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 50px;

     .searchbarDiv {

         .inputSearch {
             display: flex;
             justify-content: center;
             align-items: center;
             margin-left: 20px;
             padding: 3px;
             border: 1px solid rgba(0, 0, 0, 0.349);
             border-radius: 6px;

             .inpSea {
                 border: none;
                 outline: none;
             }
             .searchIcon{
                color:rgba(0, 0, 0, 0.497) ;
                cursor: pointer;
                &:hover{
                    color: blueviolet;
                }
             }
         }
     }

 }