@use "../../styles/colors" as color;

.navbarMain {
    background-color: color.$blue;
    color: white;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;




    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 40px;

        .logo {
            font-weight: 600;
            font-size: 15px;
        }

        .menu {
            display: flex;

            ul {
                display: flex;
                gap: 25px;

                li {
                    list-style: none;
                    color: white;

                    .link {
                        color: white;
                        text-decoration: none;
                    }
                }
            }

        }

        .menuMobile {
            display: none;
            z-index: 10;

            button {
                background: transparent;
                color: white;
                border: none;
                width: 30px;
                cursor: pointer;

                .btn {
                    font-size: 40px;
                }
            }

            .lists {
                .togl_under_menu {
                    position: absolute;
                    right: 0;
                    top: 0;
                    padding: 10px 20px;
                }

                position: absolute;
                width: 40%;
                height: fit-content;
                display: flex;
                justify-content: center;
                padding-top: 50px;
                padding-bottom: 20px;
                top: 0px;
                right: 0;
                line-height: 40px;
                background-color: rgb(18, 109, 169);
                border-radius: 0px 0px 10px 20px;
                z-index: 10;

                ul {
                    z-index: 10;

                    li {
                        list-style: none;
                        z-index: 10;

                        .link {
                            text-decoration: none;
                            color: white;
                            font-size: 22px;
                            z-index: 10;

                            &:hover {
                                color: rgb(189, 184, 184);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:600px) {
    .navbarMain {
        .navbar {
            .menu {
                display: none;
            }

            .menuMobile {
                display: flex;
                z-index: 10;
               
            }

        }
    }
}